.container{
  background-color: #000;
  color:#ac0000;
}
.text-21 {
  color: #fff
}
.text-60{color:#ac0000}
.text-40{color:#ac0000}
.text-14{background-color :#330000}
.text-24{border-top-color:#ac0000}
#pic_1{display:none}
#pic_3{display:none}