*{
  margin: 0;
  padding: 0;
}
.header{
  width: 100%;
}
.header img{
  width: 100%;
}
.container{
  width: 75%;
  margin: 0 auto;
  font-size: 17px;
}
.contain-header{
  width: 100%;
  font-size: 15px;
}
.title-1{
  color: #df4e0e;
}
.title-2{
  display: inline;
  position: relative;
  top: -20px;
  margin-left: 10px;
}
.main-mess{
  width: 100%;
  background-image: url("images/pic_backgroundcontent.jpg");
  background-size: cover;
}
.mess--top{
  width: 100%;
  height: 111px;
  background-color: #d8d8d8;
  opacity: 0.8;
}
.sound-all{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 24px;
}
.list-lang{
  list-style: none;
  font-size: 20px;
  float:  right;
  position: relative;
  top: -40px;
  padding-right: 20px;
}
.list-lang li {
  display: inline-block;
}
.lang-eng{
  color:#008098;
}
.mess-content{
  width: 100%;
}
.mess-content .avatar{
  position: relative;
  left: 42.5%;
}
.women{
  margin-left: 10%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}
.women-chat-1{
  width: 80%;
}
.women-ava{
  margin-right: 20px;
}
.women-chat-content{
  background: #fee8d2;
  border-radius: 5px;
  width: 62%;
  position: relative;
  padding: 1%;
  line-height: 1.6;
  display: flex;
  align-items: center;
  text-align: left;
}
.women-chat-content:before{
  content: " ";
  width: 0;
  height: 0;
  position: absolute;
  bottom: 10px;
  left: -13px;
  border-left: 15px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 15px solid #fee8d2;
  border-top: 15px solid transparent;
}
.icon-sounds{
  display: block;
  cursor: pointer;
}
.content{
  padding-left: 10px;
}
.men{
  margin-left:  10%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  margin-bottom: 5px;
}
.men-chat-1{
  width: 60.5%;
  margin-left: 45%;
}
.men-ava{
  margin-left: 20px;
}
.men-chat-content{
  background: #e2f3f2;
  border-radius: 5px;
  width: 62%;
  position: relative;
  padding: 1%;
  line-height: 1.6;
  display: flex;
  align-items: center;
  text-align: left;
}
.men-chat-2{
  width: 100%;
}
.women-chat-2{
  width: 100%;
}
.men-chat-content:before{
  content: " ";
  width: 0;
  height: 0;
  position: absolute;
  bottom: 10px;
  right: -13px;
  border-left: 0px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #e2f3f2;
  border-top: 15px solid transparent;
}
.chat-mid{
  width:100%;
  clear: both;
  margin-top: -8px;
}
.chat-mid img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top:-4px;
}
.man-smile-sad{
  display: none;
}
.lang-hide{
  display: none;
}
.row-1{
  width: 100%;
  display: inline-block;
  margin-top: 7px;
}
.row-2{
  width: 100%;
}
.col-left{
  width: 40%;
  float: left;
  margin-left: 5%;
}
.col-left .men{
  margin-left: 0;
}
.col-left .women{
  margin-left: 0;
}
.col-left .men-chat-content{
  width: 80%;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 18%;
}
.col-left .women-chat-content{
  width: 80%;
  margin-bottom: 5px;
}
.col-right{
  width: 40%;
  float: left;
  margin-left: 5%;
}
.col-right .men-chat-content{
  width: 80%;
}
.col-right .women-chat-content{
  width: 80%;
  margin-bottom: 5px;
}
.mess-footer{
  width: 100%;
}
.footer--mid{
  width: 100%
}
.pDummy{
  font-size: 20px;
  color: #008098;
}
span{
  background-color: #fff;
}
.hide{
  display: none;
}
.double-content{
  display: list-item;
}
hr{
  width: 70%;
  margin: 0 auto;
  border: 2px solid #008098;
}
@media all and (max-width: 1280px) {
  .container {
    width: 100%;
    font-size: 24px;
    max-width: 640px;
    min-width: 640px;
  }
  .header{
    min-width: 640px;
  }
  .contain-header {
    font-size: 22px;
  }
  .list-lang {
    top:-50%;
  }
  .list-lang li {
    display: block;
  }
  .mess-content .avatar {
    left: 39%;
  }
  .women{
    margin-left: 3%;
  }
  .women-chat-1{
    width: 95%;
  }
  .women-chat-content{
    width: 85%;
  }
  .men-chat-1{
    width: 95%;
  }
  .men-chat-2{
    width: 95%;
    padding-left: 5%;
  }
  .women-chat-2{
    width: 95%;
    padding-left: 5%;
  }
  .col-left{
    margin-left: 0;
  }
  .men-chat-content{
    width: 85%;
  }
  .chat-mid img{
    margin-top: -2px;
    display: inline-block;
  }
  .man-smile-sad{
    display: inline-block;
  }
  .man-smile-sad img{
    padding-left: 130px;
  }
  .men{
    margin-left: 3%;
  }
  .hide{
    display: inline-block;
  }
  .col-left{
    width: 100%;
  }
  .col-left .men-chat-content{
    width: 80%;
    margin-left: 0;
  }
  .col-right{
    display: none;
    width: 90%;
  }
  .hide-footer{
    display: none;
  }
}
