*{
  margin: 0;
  padding: 0;
}
body{

}
.header{
  width: 99%;
  height: 38px;
  padding-top: 5px;
  padding-left: 20px;
  margin-right: 30px;
  border-bottom: 1px solid #595959;
}
.header img{
  padding-right: 10px;
}
.header p{
  display: inline;
  position: absolute;
  top: 10px;
  color: red;
}
.header .listindex{
  list-style: none;
  display: inline;
  position: absolute;
  top: 13px;
  left: 250px;
}
.listindex .index{
  display: inline;
  font-weight: bold;
  background-color: #000;
  color: #fff;
  padding-right: 10px;
  padding-left: 10px;
}
.container{
  width: 68%;
  margin: 0 auto;
  max-width: 640px;
}
.container .title-1{
  color: #df4e0e;
  font-size: 15px;
}
.container .title-2{
  display: inline;
  position: relative;
  top: -20px;
  margin-left: 10px;
}
.content-mess{
  background-image: url("images/pic_backgroundcontent.jpg");
  background-size: cover;
  height: 1400px;
}
.content-1{
  width: 100%;
  background-color: gray;
  opacity: 0.8;
}
.content-1 .pic-soundall{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.content-2{
  width: 100%;
}
.content-2 .pic-man-woman{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
}
.mess{
  width:100%;
  display: inline-block;
}
.mess-women{
  position: relative;
  left: 15%;
  background-color: #fee8d2;
  max-width: 60%;
  margin-bottom: 10px;
  display:inline-block;
}
.mess-women img{
  position: absolute;
  top: 40%;
  left:10px;
}
.mess-women p{
  padding-left: 50px;

}
.mess-women .avatar{
  position: absolute;
  left: -30%;
}
.mess-man{
  position: relative;
  left: -15%;
  float:right;
  background-color: #e2f3f2;
  width: 40%;
  margin-bottom: 10px;
  display:block;
}
.mess-man img{
  position: absolute;
  top: 40%;
  left:10px;
}
.mess-man p{
  padding-left: 50px;

}
.mess-man .avatar{
  position: relative;
  left: 30%;
  float: right;
}
.pDummy{
  color:#008098;
}
@media all and (max-width: 640px) {
  .mess-women {
    width: 80%;
  }
  .mess-women .avatar{
    left: -15%;
  }
}