@charset "utf-8";
/* CSS Document */
*{
  margin: 0;
  padding: 0;
}
#container{
  width: 316px;
  font-family: 'Times New Roman', Times, serif;
  margin: 0 auto;
}
.content{
  padding-top: 1px;
  padding-left: 11px;
  padding-right:9px;
  padding-bottom: 17px;
  background-color: #e6f3fb;
}
.topic{
  margin-right: 11px;
  width: 296px;
}
.box{
  width: 296px;
  border-top: 4px solid #f7a418;
  background-color: #fff;
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 12px;
}
.box ul{
  list-style: none;
  background-color: #fff;
}
.box ul li{
  background-color: #f9f1c2;
  border-bottom: 1px solid #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  color: #0a6395;
}
.edit-1 img{
  float: left;
  height: 80px;
  width: 156px;
  margin-right: 7px;
  margin-left: 8px;
  border: 1px solid #c4ccce;
}
.edit-1{
  padding-top: 8px;
  margin-bottom: 19px;
  padding-right: 10px;
}
.box b{
  color: #0a6395;
}
.edit-1 span{
  font-style: italic;
}
.edit-2{
  padding-right: 7px;
  margin-bottom: 9px;
  padding-left: 8px;
  padding-top: 20px;
}
.edit-2 img{
  float: left;
  width: 100px;
  height: 90px;
  padding-bottom: 30px;
  position: relative;
  top: -3px;
}
.edit-2 b{
  color: #000;
  font-size: 15px;
}
.edit-2 p{
  font-size: 11px;
  margin-left: 2px;
}
.date-info{
  color: #595959;
  padding-bottom: 7px;
}
.box p{
  line-height: 15px;
}
.box-1{
  background-color: #f4f4ea;
  padding-top: 10px;
  padding-left: 15px;
  height: 38px;
  margin-bottom: 20px;
}
.box-1 b{
  color: #0a6395;
}
.box-1 img{
  float: right;
  height: 48px;
  position: relative;
  top: -25px;
}
.box-2{
  width: 100%;
  padding-top: 22px;
  height: 88px;
  margin-bottom: 11px;
}
.box-2 p{
  font-family: 'Times New Roman', Times, serif;
  font-size: 12px;
  padding-left: 23px;
  width: 130px;
  float: left;
}
.box-2 img{
  padding-left: 21px;
  width: 120px;
  height: 113px;
  position: relative;
  top: -22px;
}
a{
  text-decoration: none;
  color: #0a6395;
}
.get-new{
  padding-top: 5px;
  padding-bottom: 5px;
}
.box-under{
  border: 1px solid #595959;
  color: #4d5d73;
  background-color: #fff;
  padding-left: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
}
ul{
  list-style: none;
}
ul li{
  font-size: 12px;
}